<h1> {{element? element.title? element.title: element.name : null}} </h1>

<ul>
    <li *ngFor="let item of elementStrings ">
        <h2>{{formatTitle(item.key)}}</h2> {{item.value}}
    </li>

    <li *ngFor="let item of elementLinks  ">

        <h2>{{formatTitle(item.key)}}</h2>

        <ul>
            <li class="link" *ngFor="let link of item.value" (click)="onSelect(item.key, link)">
                <a>{{link.name?link.name : link.title}}</a>
                <br/>
            </li>
        </ul>
        
    </li>

</ul>


